<h2>MOVIE SEARCH</h2>
<h3>Enter exact title to search</h3>
<h3>Or browse a list of related titles</h3>

<form action="/title">
	<input type="text" name="titleSearch"=>
	<button>Search</button>
</form>

<form action="/list">
	<input type="text" name="titleBrowse">
	<button>Browse</button>
</form>