<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>movies</title>
</head>
<body>
	<nav><ul>
		<li>Home</li>
		<li>Movies List</li>
		</ul>
	</nav>

	<%= yield %>
	<!-- YIELD displayes whatever is in INDEX file and search result-->
</body>
</html>