<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>movies</title>
</head>
<body>
	<nav>
		<form action="/">
			<button name="home">Home</button></form>

			<form action="/stored">
			<button name="stored">Show Local Database</button>
			</form>
	</nav>

	<%= yield %>
	
</body>
</html>